main {
    text-align: start;
    align-items: start;
    justify-content: start;
}

h2 {
    font-size: 1.25em;
}

table {
    border: 2px solid black !important;
}

td, th {
    border: 1px solid black !important;
}