main {
    text-align: start;
    align-items: normal;
}

h2 {
    font-size: 1.25em;
}

#name {
    float: left;
}

#overall-streak {
    float: right;
}

table {
    border: 2px solid black !important;
}

td, th {
    border: 1px solid black !important;
}