@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: Vend Sans;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

header {
    flex: 0 80px;
    display: flex;
    background-color: rgb(62, 62, 62);
    color: rgb(236, 227, 227);
    align-items: center;
    justify-content: left;
}

footer {
    display: flex;
}

img {
    flex: 0 0;
    width: 50px;
    height: 50px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
}