@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: Vend Sans;
    font-weight: bold !important;
}

body {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

header {
    flex: 0 80px;
    display: flex;
    background-color: darkslategray;
    color: rgb(236, 227, 227);
    align-items: center;
    justify-content: left;
}

main {
    flex: 1 calc(100vh - 110px);
    text-align: center;
}

footer {
    flex: 0 30px;
    background-color: darkslategray;
    color: rgb(255, 255, 255, .5);
}

img {
    flex: 0 0;
    width: 50px;
    height: 50px;
}

.navbar {
    padding: 8px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

footer a {
    float: right;
}