@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: Vend Sans;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

header {
    flex: 0 80px;
    display: flex;
}

footer {
    display: flex;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
}