@import url('https://fonts.googleapis.com/css2?family=Vend+Sans:ital,wght@0,300..700;1,300..700&display=swap');

* {
    font-family: Vend Sans;
    font-weight: bold !important;
}

.body {
    background-color: rgb(196, 238, 252);
    display: flex;
    flex-direction: column;
    min-width: 350px;
}

header {
    flex: 0 80px;
    display: flex;
    background-color: #0F1E2E;
    color: white;
    align-items: center;
    justify-content: left;
}

main {
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

footer {
    flex: 0 30px;
    background-color: #1A2332;
    color: rgb(255, 255, 255, .5);
}

.logo{
    flex: 0 0;
    width: 50px;
    height: 50px;
}

.navbar {
    padding: 8px;
}

menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
}

menu .nav-item {
    padding: 0 0.3em;
}

table {
    border: 2px solid black !important;
}

td, th {
    border: 1px solid black !important;
}

th, .checkbox {
    text-align: center;
}

button {
    margin-left: auto;
}

footer a {
    float: right;
}

@media (max-height: 500px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}